*.d
*.o
*.exe
/.depend
/FIO-VERSION-FILE
/config-host.h
/config-host.mak
/config.log
/cscope.out
/fio
/gfio
/t/axmap
/t/fio-btrace2fio
/t/fio-dedupe
/t/fio-genzipf
/t/fio-verify-state
/t/gen-rand
/t/ieee754
t/io_uring
/t/lfsr-test
t/memlock
t/read-to-pipe-async
/t/stest
/unittests/unittest
y.tab.*
lex.yy.c
*.un~
doc/output
/tags
/TAGS
/t/zbd/test-zbd-support.log.*
