<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?if $(env.FIO_ARCH) = x86 ?>
		<?define ProgramDirectory = ProgramFilesFolder ?>
	<?else?>
		<?define ProgramDirectory = ProgramFiles64Folder ?>
	<?endif?>

	<Product Id="F9883688-6AB3-4BD1-AB93-91D39F12F003"
	  Codepage="1252" Language="1033"
	  Manufacturer="fio" Name="fio"
	  UpgradeCode="2338A332-5511-43cf-b9BD-5C60496CCFCC" Version="2.0.13">
		<Package
		  Comments="Contact: Your local administrator"
		  Description="Flexible IO Tester"
		  InstallerVersion="200" Keywords="Installer,MSI,Database"
		  Languages="1033" Manufacturer="fio"
		  InstallScope="perMachine" InstallPrivileges="elevated" Compressed="yes"/>

		<Media Id="1" Cabinet="Product.cab" EmbedCab="yes" CompressionLevel="high"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.ProgramDirectory)">
				<Directory Id="INSTALLDIR">
					<Directory Id="fio" Name="fio">
						<Component>
							<File Source="..\..\fio.exe"/>
						</Component>
						<Component>
							<File KeyPath="yes" Source="..\..\pthreadGC2.dll"/>
						</Component>
						<Component>
							<File Id="README" Name="README.rtf" Source="..\..\README"/>
						</Component>
						<Component>
							<File Id="REPORTING_BUGS" Name="REPORTING-BUGS.rtf" Source="..\..\REPORTING-BUGS"/>
						</Component>
						<Component>
							<File Id="HOWTO" Name="HOWTO.rtf" Source="..\..\HOWTO"/>
						</Component>
						<Component>
							<File Id="COPYING" Name="COPYING.rtf" Source="..\..\COPYING"/>
						</Component>
						<Directory Id="examples" Name="examples"/>
					</Directory>
				</Directory>
			</Directory>
	</Directory>

	<Feature Id="AlwaysInstall" Absent="disallow" ConfigurableDirectory="INSTALLDIR" Display="hidden" Level="1" Title="Flexible IO Tester">
		<ComponentRef Id="fio.exe"/>
		<ComponentRef Id="pthreadGC2.dll"/>
		<ComponentRef Id="HOWTO"/>
		<ComponentRef Id="README"/>
		<ComponentRef Id="REPORTING_BUGS"/>
		<ComponentRef Id="COPYING"/>
		<ComponentGroupRef Id="examples"/>
	</Feature>

	<Property Id="ARPURLINFOABOUT" Value="http://git.kernel.dk/?p=fio.git" />
	<Property Id='ARPCONTACT'>fio@vger.kernel.org</Property>
	<Property Id='ARPHELPLINK'>http://www.spinics.net/lists/fio/</Property>
	<Property Id='ARPURLUPDATEINFO'>http://git.kernel.dk/?p=fio.git</Property>

	<WixVariable Id="WixUILicenseRtf" Value="eula.rtf" />

	<UIRef Id="WixUI_Minimal"/>

	<Condition Message="Per-user installations are not supported">
		Installed OR
		ALLUSERS=1
	</Condition>

	<MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version of the application is already installed."/>
</Product>
</Wix>
