#include "../../version.h"
1 VERSIONINFO
FILEVERSION     VERSION_MAJOR,VERSION_MINOR,VERSION_BUILD,0
PRODUCTVERSION  VERSION_MAJOR,VERSION_MINOR,VERSION_BUILD,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", ""
      VALUE "FileDescription", "Flexible IO Tester"
      VALUE "FileVersion", "1.44.3"
      VALUE "InternalName", "fio"
      VALUE "LegalCopyright", "Copyright (C) 2010"
      VALUE "OriginalFilename", "fio.exe"
      VALUE "ProductName", "FIO"
      VALUE "ProductVersion", VERSION_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
